<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="author" content="Mahakuta" />
  <meta
    name="description"
    content="Mahakuta is a collaborative enterprise composed of research groups/ designers which work with both grassroots initiatives and institutional partners. Our products include nalbaraha, shilpi and shaili"
  />
  <link
    rel="stylesheet"
    href="{{'/assets/css/main.css' | prepend: site.baseurl}}"
  />
  <link
    rel="shortcut icon"
    type="image/svg"
    href="{{site.url}}/assets/images/logo-en-dark.svg"
  />
  <title>{{page.title}}</title>
</head>
